<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="2.0.0.7" versionCode="4" id="CircleJ12">
 
  <author href="http://www.example.com/"
          rim:copyright="Copyright 1998-2012 My Corp">My Corp</author>
 
  <name>Circlej application</name>
 
  <description>
    Your Circlej description.
  </description>
 
  <rim:permissions>
    <rim:permit>access_shared</rim:permit>
    <rim:permit>access_internet</rim:permit>  
    <rim:permit>access_location_services</rim:permit>
    <rim:permit>use_camera</rim:permit>  
  </rim:permissions>
 
  <icon src="icon.png"/>
 
  <rim:splash src="icon.png"/>
  <rim:splash src="images/icon.png"/>
 
  <content src="index.html"/>
 
  <feature id="blackberry.ui.dialog"/>
   
  <feature id="blackberry.app">
    <param name="orientation" value="auto" />
  </feature>
 
  <access uri="http://jquery.com" subdomains="true">
    <feature id="blackberry.app" required="true" version="1.0.0"/>
    <feature id="blackberry.invoke" required="true" version="1.0.0"/>
  </access>
 
  <license href="http://arvianne.com/"/>
 
</widget>